@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */


.question {
    padding: 5rem 20%;

}

.answer-button {
    display: block;
    width: 100%;
}